doctype 5
html
	head
		title `"MiS by hi-scor.es"
		link(href='http://fonts.googleapis.com/css?family=Audiowide|Coda|Orbitron', rel='stylesheet', type='text/css')
		// 1140px Grid styles for IE 
		// if lte IE 9
			link(rel="stylesheet", href="/stylesheets/ie.css", type="text/css", media="screen")

		// The 1140px Grid - http://cssgrid.net/ 
		link(rel="stylesheet", href="/stylesheets/1140.css", type="text/css", media="screen")
	
		//my style sheets
		link(rel='stylesheet', href='/stylesheets/style.css',  type="text/css", media="screen")
	
		// css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers
		script(type="text/javascript", src="/javascripts/css3-mediaqueries.js")
		
		// jquery
		script(type="text/javascript", src="/javascripts/jquery-1.8.3.min.js")
		
		// client universal game script
		script(type="text/javascript", src="/javascripts/utils.js")
		script(type="text/javascript", src="/javascripts/interface.js")
		
	body
	
	// header
	div.header
		div.container
			div.row
				div.tencol
					h1#headerText &nbsp;
					div.headerLine
				div.twocol.last#menu
					p Captain &lt;Captain&gt;
					p: a(href="#") &nbsp;
					p: a(href="#") logout
	
	// location header
	div.container
		div.row
			div.twelvecol.last
				div.locationHeader
					p Current Location:
					p#locationName &nbsp;
					p#locationInfo &nbsp;
					
	// main body
	div.mainBody
		div.container
			div.row
				div.threecol
					div#commands
						// commands
						ul#commandList
				div.ninecol.last
					div#content
						block content
							