<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>{% block title %} Make it So by hi-scor.es {% endblock %}</title>

	{% block css %}
 		<!-- fonts -->
 		<link href='http://fonts.googleapis.com/css?family=Audiowide|Coda|Orbitron', rel='stylesheet', type='text/css'>
 		
		<!-- twitter bootstrap & responsive -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.css", rel='stylesheet', type='text/css'>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.css", rel='stylesheet', type='text/css'>
 		
 		<!--  my style sheets -->
 		<link rel='stylesheet', href='/css/MiS.css',  type="text/css", media="screen">
 		
	{% endblock %}
	
	{% block head %}
		<!-- Modernizr asks to be put in the header -->
    	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.js"></script>
	{% endblock %}

</head>
<body>
	<div id="content">
  		{% block content %}{% endblock %}
	</div>
	
	{% block scripts %}
 		<!-- jquery -->
    	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<!-- twitter bootstrap -->
    	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

		<!-- my javascript -->
		<script src="/js/MiS.js"></script>
	{% endblock %}
</body>
</html>