- if (!name) var name = "[NO NAME FOUND]"

div#centerDiv
	h2 Captain #{name}, 
	h2 please select one:
	#handiDiv
		button(onclick="handiButtonClicked('left')") left handed
		button(onclick="handiButtonClicked('right')") right handed