//set default
- if (!err) var err = ""
- if (!name) var name = "[NO NAME FOUND]"

div#centerDiv
	div#shipNameDiv
		h2 Captain #{name}, 
		h2 please name your ship:
		
		input#nameInput(type="text", size=20, onkeydown="validateName();")
	div#crewDiv
		h2 Captain #{name}, 
		h2 please name your crew:
		center
			table
				tr
					td Security Chief
					td: input.crewInput#security(type="text", size=30, onkeydown="validateName();")
				tr
					td Chief Medical Officer
					td: input.crewInput#medical(type="text", size=30, onkeydown="validateName();")
				tr
					td Head Information Engineer
					td: input.crewInput#info(type="text", size=30, onkeydown="validateName();")
				tr
					td Ship Empat
					td: input.crewInput#empat(type="text", size=30, onkeydown="validateName();")
				tr
					td Chief Engineering Officer
					td: input.crewInput#engineering(type="text", size=30, onkeydown="validateName();")
				tr
					td Cultural Chief
					td: input.crewInput#cultural(type="text", size=30, onkeydown="validateName();")


	p #{err}
	div#nameInstructions(style="display:none")
		//make this say 'tap to continue' for iOS
		p (press Enter to continue)