doctype 5
html
	head
		title `"MiS by hi-scor.es"
		link(href='http://fonts.googleapis.com/css?family=Audiowide|Coda|Orbitron', rel='stylesheet', type='text/css')
		// 1140px Grid styles for IE 
		// if lte IE 9
			link(rel="stylesheet", href="/stylesheets/ie.css", type="text/css", media="screen")

		// The 1140px Grid - http://cssgrid.net/ 
		link(rel="stylesheet", href="/stylesheets/1140.css", type="text/css", media="screen")
	
		//my style sheets
		link(rel="stylesheet", href="/stylesheets/startStyle.css", type="text/css", media="screen")
		
		// css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers
		script(type="text/javascript", src="/javascripts/css3-mediaqueries.js")
		
		// jquery
		script(type="text/javascript", src="/javascripts/jquery-1.8.3.min.js")
		script(type="text/javascript", src="/javascripts/jquery-color.js")
		
		// my scripts
		script(type="text/javascript", src="/javascripts/utils.js")
		
			
			
		script(type="text/javascript")
			var nextURL = "#{nextURL}" || ""
			$(function() {
				$("body").animate({
						backgroundColor:"#999"
					}, 2000, "linear", function() {
						//load nextURL
						if (nextURL != "")
							changePage(nextURL);
					});
			});
			
			function changePage(url) 
			{
				//fade out
				$("body").animate({
						backgroundColor:"#000"
					}, 2000, "swing", function() {
						//load URL
						ajaxRequest(url);
					});
			}
			
			function updatePageUI(returnedData) 
			{
				//if string, just replace content
				if (typeof returnedData == "string")
				{
					$("#content").html(newPageData);
				}
				else
				{
					if (returnedData.html)
					{
						$("#content").html(returnedData.html);
					}
					if (returnedData.js)
					{
						eval(returnedData.js);
					}
				}
				$("body").animate({
						backgroundColor:"#999"
				}, 2000, "linear");
			}
				
	body
	
	// content
	div#content
		div.container#titleScreen
			div.row
				div.twelvecol.last
					h1 Make 
			div.row
				div.twelvecol.last.
					<h1>it so</h1> <p> by hi-scor.es</p>