extends ../MiSLayout

block append header
	link(rel='stylesheet', href='/stylesheets/startStyle.css',  type="text/css")
	script(type="text/javascript")
		var nextURL = "#{nextURL}" || ""
		$(function() {
			$("body").bind("click", function() {
				$("body").unbind("click");
				if (nextURL != "")
					changePage(nextURL);
			});
			
			//fade in grey background.
			$("body").animate({
					backgroundColor:"#999"
				}, 2000, "linear", function() {
					//wait a couple of seconds
					//then fade in click prompt
					window.setTimeout( function() {
						$(".prompt").fadeIn("slow");
					}, 1000);
				});
		});
		
		function changePage(url, method, data) 
		{
			
			$("body").animate({
					backgroundColor:"#000"
				}, 2000, "swing", function() {
		
					//load URL
					ajaxRequest(url, method, data);
				});
		}
		


block content
	div#bodyContent
		div.container#titleScreen
			div.row#firstRow
				div.twelvecol.last
					h1 Make 
			div.row#secondRow
				div.twelvecol.last
					<h1>it so</h1> <p> by hi-scor.es</p>
		div.center
			p.prompt (click to continue)
		