include ../MiSInterfaceLayout

script(type="text/javascript")
	var defaultPageUI = {
		header : {
			text : "Make it So",
		},
		locationHeader : {
			locationName : "Captain #{name}",
			description : "",
			showLabel : false,
		},
		commands : [
		/*
			{
				text: 'Direct Message',
				url: '/editor/directmessage',
				subcommands: [
				{
					text: 'New',
					url: '/editor/directmessage/new/',
				}]
			}
		
		*/
		],
		content : "<h2>Select your ship</h2>",
		colors : [
			{
				value : "#999",
				selectors : {
					"body" : "color",
					"a" : "color",
					":input" : "color",
					"textarea" : "color",
					"ul#commandList" : "color",
					"ul#commandList" : "border-color",
					"div.locationHeader p" : "color",
					".locationHeader" : "border-color",
					":input" : "border-color",
					"textarea" : "border-color",
					"ul#commandList a" : "color",
					"ul#commandList li" : "border-color",
					".header" : "color",
				}
			},
			{
				
				value : "#111",
				selectors : {
					":input" : "background",
					"textarea" : "background",
					".locationHeader" : "background",
					"ul#commandList" : "background",
				}
			}
		]
	}

	
	var defaultURL = "#{defaultURL}" || "";
	console.log(defaultURL);
	ajaxRequest(defaultURL);

