extends ../MiSLayout

block append header
	link(rel='stylesheet', href='/stylesheets/startStyle.css',  type="text/css")
	script(type="text/javascript")
		var nextURL = "#{nextURL}" || ""
		divCount = 1;
		
		$currentDiv = null;
		
		$(function() {

			$currentDiv = $("#titleScreen");


			//animate stars
			var animateStars = false
			$('#starMidfield').css({backgroundPosition: '0px 0px'});
			$('#starForward').css({backgroundPosition: '0px 0px'});
			$('#starBackground').css({backgroundPosition: '0px 0px'});
			if (animateStars)
			{
				
				$('#starMidfield').animate({
					'backgroundPosition-x': '00000px',
					'backgroundPosition-y': '10000px',
				}, 240000, 'linear');
				
				$('#starForward').animate({
					'backgroundPosition-x': '00000px',
					'backgroundPosition-y': '10000px',
				}, 120000, 'linear');
				
				$('#starBackground').animate({
					'backgroundPosition-x': '00000px',
					'backgroundPosition-y': '10000px',
				}, 480000, 'linear');
			}
			
			//fade in grey text.
			$currentDiv.animate({
					color:"#999"
				}, 2000, "linear", function() {
					//wait a couple of seconds
					//then fade in click prompt
					window.setTimeout( function() {
						$(".prompt").fadeIn("slow");
					}, 1000);

					//turn on click
					$("body").bind("click touch", function() {
						$("body").unbind("click");
						if (nextURL != "")
							changePage(nextURL);
					});
					//load nextPage automatically?
					//if (nextURL != "")
					//	changePage(nextURL);
				});
		});
		
		function changePage(url, method, data, goAway) 
		{
			if (!goAway) goAway = false;
			
			//load URL
			ajaxRequest(url, method, data, "json", function(returnedData) {

				if (goAway)
				{
					var windowHeight = $(window).height();
					//move down
					$currentDiv.animate({top: '-'+windowHeight+'px'}, 2000, 'swing')
					
					$('#starMidfield').animate({
						'backgroundPosition-y': '+='+windowHeight+'px',
					}, 3000, 'linear');
						
					$('#starForward').animate({
						'backgroundPosition-y': '+='+windowHeight*2+'px',
					}, 3000, 'linear');
					
					$('#starBackground').animate({
						'backgroundPosition-y': '+='+windowHeight*2/3+'px',
					}, 3000, 'linear');

					$("#content").delay(1000).fadeOut("1000", 'linear', function() {
						updatePageUI(returnedData); 
						$(this).fadeIn("slow","linear")
					});
				}
				else
				{
					var windowWidth = $(window).width();
					console.log($currentDiv)
					
					//move out the old
					$currentDiv.animate({left: '-'+windowWidth+'px'}, 2500, 'swing');
					
					//move in the new
					divCount++;
					$("#screen").append("<div id='div"+divCount+"'>"+returnedData.html+"</div>");
					$currentDiv = $("#div"+divCount)
					.css('position', 'absolute')
					.css('width', '100%')
					.css('top', '0px')
					.css('left', windowWidth+"px")
					.show()
					.animate({left: '0px'}, 2500, 'swing', function() { eval(returnedData.js); });
					
					
					var starWidth = windowWidth * (2/3);
					$('#starMidfield').animate({
						'backgroundPosition-x': '-='+starWidth/2+'px',
					}, 2500, 'swing');
						
					$('#starForward').animate({
						'backgroundPosition-x': '-='+starWidth+'px',
					}, 2500, 'swing');
						
					$('#starBackground').animate({
						'backgroundPosition-x': '-='+starWidth/3+'px',
					}, 2500, 'swing');
				}
			});
		}
		


block content
	div#starBackground
	div#starMidfield
	div#starForward
	div#bodyContent
		div#screen
			div.container#titleScreen
				div.row#firstRow
					div.twelvecol.last
						h1 Make 
				div.row#secondRow
					div.twelvecol.last
						<h1>it so</h1> <p> by hi-scor.es</p>
				div(style="text-align:center;display:none").prompt
					p (click to continue)
		