body 
{
	background-color: #000;
}

td {
	vertical-align: middle;
}

p { 
	font-size: 20px;
}

*:focus
{
	outline: none;
}

input {
 	background: #000;
	color: #999;
	font-size:30px;
	padding-left: .5em;
	padding-right: .5em;
	font-family: 'Coda', sans;
	border-radius: 30px; 
	-moz-border-radius: 30px; 
	-webkit-border-radius: 30px; 
	border: 3px solid #999;
}

button {
	font-family: Coda;
	font-size: 30px;
	color: #999;
	background: black;
	padding-left: .5em;
	padding-right: .5em;
	border: 3px solid #999;
	border-radius: 30px; 
	-moz-border-radius: 30px; 
	-webkit-border-radius: 30px; 
}

select {
	font-size: 30px;
	font-family: "Coda";
	color: black;
	background-color: #999;
	border: 1px solid black;
}

p.prompt
{
	text-align: center;
	font-family: 'Coda', sans;
	display: none;
	color: #999;
}

/*
parallax background idea shamelessly stolen from
http://css-tricks.com/auto-moving-parallax-background/
*/
#starBackground {
	background: url(../images/starBackground.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
}

#starMidfield {
	background: url(../images/starMidfield.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
}

/*
circada star background idea shamelessly stolen from
http://designfestival.com/the-cicada-principle-and-why-it-matters-to-web-designers/
*/
#starForward {
	background: url(../images/starForward1.png) repeat 90% 110%,
				url(../images/starForward2.png) repeat 90% 110%,
				url(../images/starForward3.png) repeat 90% 110%;;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
}

#screen
{
	position: relative;
}

#titleScreen
{
	z-index: 400;
	position: relative;
	color: #000;
}

#titleScreen h1 
{
	font-family: 'Audiowide', sans;
	font-size: 300px;
	letter-spacing: -32px;
	display: inline;
	z-index: 400;
}

#titleScreen p 
{
	font-family: 'Coda', sans;
	display: inline;
	padding-left: 45px;
}

#titleScreen #firstRow
{
	margin-top: -30px;
	z-index: 400;
	position: relative;
}

#titleScreen #secondRow
{
	margin-top: -100px;
	z-index: 400;
	position: relative;
}

#centerDiv
{
	text-align: center;
	color: #999;
	z-index: 400;
	position: relative;
	padding-top: 100px;
}


#centerDiv h2
{
	font-family: 'Coda', sans;
	font-size: 30px;
}

#centerDiv td, th
{
	font-family: 'Coda', sans;
}

#centerDiv table
{	
    margin-left:auto; 
    margin-right:auto;
	text-align: left;
	padding-top: 50px;
}

#centerDiv th
{
	font-size: 15px;
	border-bottom: 3px solid #999;
}

#centerDiv td
{	
	font-size: 25px;
	padding-left: 7em;
}

#nameEntry input{
	margin-top: 20px;
}


#handiDiv 
{
	padding-top: 30px;
}

#handiDiv button
{
	width: 15em;
}

#handiDiv button:hover
{
	color: black;
	background: #999;
}

#handiDiv button:first-of-type
{
	margin-right: 20px;
}

#crewDiv input
{
	font-size: 20px;
}