extends ../MiSLayout

block append header
	script(src="/javascripts/libs/expanding.js")
	script(type="text/javascript")
		
		/**
		* $(function()
		*/
		$(function() {
			console.log(!{pageUI});
			loadPageUI(!{pageUI});
		})

block content
	include ../MiSInterfaceLayout
	