extends ../MiSLayout

block append header
	script(type="text/javascript")
		- if (!locals.pageUI) var pageUI = {};
		
		/**
		* $(function()
		*/
		$(function() {
			loadPageUI(pageUI);
		})

block content
	include ../MiSInterfaceLayout
	
