//extends layout

block content

	h2 Crew Commands
	ul
		li: a(href='#', onclick='ajaxRequest("/editor/crewcommand/new")') New
		each command, i in commands
			- var editUrl = "/editor/crewcommand/" + command._id +"/edit"
			- var deleteUrl = "/editor/crewcommand/" + command._id
			li: a(href='#', onclick='ajaxRequest("#{editUrl}");') Subject: #{command.name} &nbsp; 
				a(href='#', onclick='answer=confirm("Are you sure you want to delete #{command.name}?")?ajaxRequest("#{deleteUrl}", "DELETE"):""').deleteLink DELETE