
.locationView__label {
    font-size: 10px;    
}

.locationView__name {
    font-size: 27px;
    margin-top: -19px;
    margin-bottom: 7px;
    font-family: Audiowide;
}

.locationView__description {
    font-size: 16px;
    margin-top: -8px;
    margin-bottom: -12px;
    padding-bottom: 0px;
}