
.locationView__label {
    font-size: 10px;    
}

.locationView__name {
    font-size: 42px;
    margin-top: -25px;
    margin-bottom: 0px;
    font-family: Audiowide;
}

.locationView__description {
    font-size: 16px;
    margin-top: 5px;
}