body {
    margin: 0px;
}

#header {
    position: fixed;
    width: 100%;    
    z-index: 2;
    background-color: #888;
    color: #000;
}

#main {
    width: 100%;
}

#content {
    width: 100%;
    z-index: 1;
    padding-top: 85px;
}

#location {
    font-family: Coda, sans-serif;
    border: 0px solid #EEE;
    padding: 10px;
}

#info {
    margin-right: 20px;
    margin-top: 10px;
}


#commands {
    width: 300px;
    position: fixed;
    right: 0px;
}

.command-list {
    list-style: none;
}
@import "_titleGameView";
@import "_locationView";
@import "_infoView";
@import "_commandHolderView";
@import "_outputView";

