body {
  margin: 0px; }

#header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #888;
  color: #000; }

#main {
  width: 100%; }

#content {
  width: 100%;
  z-index: 1;
  padding-top: 85px; }

#location {
  font-family: Coda, sans-serif;
  border: 0px solid #EEE;
  padding: 10px; }

#info {
  margin-right: 20px;
  margin-top: 10px; }

#commands {
  width: 300px;
  position: fixed;
  right: 0px; }

.command-list {
  list-style: none; }

#titleGameView {
  width: 50em;
  margin: 20px auto; }
  #titleGameView h1 {
    font-size: 250px;
    letter-spacing: -.1em;
    margin-left: .3em; }
  #titleGameView h1:nth-of-type(1) {
    margin-top: 0px; }
  #titleGameView h1:nth-of-type(2) {
    margin-top: -1.1em; }

.locationView__label {
  font-size: 10px; }

.locationView__name {
  font-size: 27px;
  margin-top: -19px;
  margin-bottom: 7px;
  font-family: Audiowide; }

.locationView__description {
  font-size: 16px;
  margin-top: -8px;
  margin-bottom: -12px;
  padding-bottom: 0px; }

.infoView__captain {
  margin: 0;
  float: right;
  line-height: 1em;
  clear: right; }

.infoView__ship {
  margin: 0;
  line-height: 0.95em;
  float: right;
  clear: right; }

.commandItem {
  margin-bottom: 10px;
  font: 16px Coda;
  letter-spacing: .1em;
  padding: 15px;
  margin-bottom: 15px;
  border-style: solid;
  border-color: #EEE;
  border-width: 0px;
  border-bottom-width: 2px; }

.commandItem:hover {
  color: #000;
  background: #EEE;
  border-color: #EEE; }

.disabled {
  color: #888;
  border-color: #888; }

#output {
  white-space: pre;
  font-family: monospace;
  float: left;
  font-size: 20px; }
