#content {
  width: 900px;
  margin: 0 auto; }

#location {
  font-family: Coda, sans-serif;
  border: 2px solid #EEE;
  border-radius: 30px 10px;
  padding: 10px; }

#output {
  width: 600px;
  height: 100%; }

#commands {
  width: 300px;
  float: right; }

.command-list {
  list-style: none; }

.locationView__label {
  font-size: 10px; }

.locationView__name {
  font-size: 42px;
  margin-top: -25px;
  margin-bottom: 0px;
  font-family: Audiowide; }

.locationView__description {
  font-size: 16px;
  margin-top: 5px; }

.infoView__captain {
  margin: 0;
  float: right;
  line-height: 1em; }

.infoView__ship {
  margin: 0;
  line-height: 0.95em; }

.commandItem {
  border: 2px solid #EEE;
  border-radius: 30px 10px;
  margin-bottom: 10px;
  font: 16px Coda;
  letter-spacing: .1em;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }

.commandItem:hover {
  color: #000;
  background: #EEE; }

.disabled {
  color: #888; }

#output {
  white-space: pre;
  font-family: monospace;
  float: left; }
